<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BIG-Mart</title>

    <link rel="stylesheet" href="../static/css/viewproducts.css" />

    <!-- Box icons CDN -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="loader"><img src="../static/images/loader.gif" /></div>

    <aside class="sidebar content">
      <div class="logo-details">
        <i class="bx bx-cart icon"></i>
        <div class="logo-name">BIG-Mart</div>
        <i class="bx bx-menu icon icon-menu" id="close-btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="/dashboard">
            <i class="bx bx-grid-alt"></i>
            <span class="links-name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/notification">
            <i class="bx bx-notification"></i>
            <span class="links-name">Notifications</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="links-name">Analytics</span>
          </a>
        </li>
        <li>
          <a href="/products">
            <i class="bx bxl-product-hunt"></i>
            <span class="links-name">Products</span>
          </a>
        </li>
        <li>
          <a href="/customers">
            <i class="bx bx-user-plus"></i>
            <span class="links-name">Customers</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bx bx-cog"></i>
            <span class="links-name">Settings</span>
          </a>
        </li>
      </ul>
    </aside>

    <section class="content">
      <nav class="navbar">
        <div class="navbar-right">
          <div class="notify-mail">
            <i class="bx bxs-bell"></i>
            <i class="bx bxs-message-detail"></i>
          </div>
          <div class="login-profile">
            <img
              src="../static/images/mk.png"
              alt="profile-image"
              class="profile-image"
            />
            <div class="login-content">
              <span id="admin-name">Matheshkumar P</span>
              <span>Marketing Administrator</span>
            </div>
          </div>
        </div>
      </nav>

      <main class="main-content">
        <div class="banner">
          <div class="banner-in banner-left-content">
            <h1>Our Products</h1>
          </div>
        </div>

        <div class="product">
          <div class="product-title">
            <h1>Fruits</h1>
          </div>
          <div class="product-details">
            <div class="details-image">
              <img
                src="../static/images/{{productDetails['pImage']}}"
                alt=""
                class="product-image"
              />
            </div>
            <form
              action="/modifyproduct"
              method="post"
              class="about-product-form"
            >
              <div class="details">
                <div class="each-details">
                  <div class="details-title-inner">
                    <i class="bx bxl-product-hunt"></i>
                    <p>Name</p>
                  </div>
                  <div class="details-value">
                    <input
                      type="text"
                      value="{{productDetails['pName']}}"
                      name="pname"
                      required
                    />
                  </div>
                </div>
                <div class="each-details">
                  <div class="details-title-inner">
                    <i class="bx bx-spreadsheet"></i>
                    <p>Stock</p>
                  </div>
                  <div class="details-value">
                    <input
                      type="text"
                      value="{{productDetails['pStock']}}"
                      name="pstock"
                      required
                    />
                  </div>
                </div>
                <div class="each-details">
                  <div class="details-title-inner">
                    <i class="bx bx-rupee"></i>
                    <p>Price</p>
                  </div>
                  <div class="details-value">
                    <input
                      type="text"
                      value="{{productDetails['pPrice']}}"
                      name="pprice"
                      required
                    />
                  </div>
                </div>
                <div class="each-details">
                  <div class="details-title-inner">
                    <i class="bx bx-calendar-check"></i>
                    <p>Purchase Date</p>
                  </div>
                  <div class="details-value">
                    <input
                      type="date"
                      value="{{productDetails['pPurchaseDate']}}"
                      name="ppurchasedate"
                      required
                    />
                  </div>
                </div>
                <div class="each-details">
                  <div class="details-title-inner">
                    <i class="bx bx-calendar-x"></i>
                    <p>Expiry Date</p>
                  </div>
                  <div class="details-value">
                    <input
                      type="date"
                      value="{{productDetails['pExpiryDate']}}"
                      name="pexpirydate"
                      required
                    />
                  </div>
                </div>
                <div class="each-details">
                  <div class="details-title-inner">
                    <i class="bx bx-notepad"></i>
                    <p>Description</p>
                  </div>
                  <div class="details-value">
                    <p>{{productDetails['pDescription']}}</p>
                  </div>
                </div>
                <div class="each-details">
                  <div class="delete-button details-title-inner">
                    <a href="/delete/{{productDetails['pName']}}"
                      ><button type="button">Delete</button></a
                    >
                  </div>
                  <div class="modify-button details-value">
                    <button type="submit">Modify</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </main>
    </section>

    <!-- script -->
    <script src="../static/js/viewproducts.js"></script>

    <!-- JQuery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>

    <script>
      window.onload = function () {
        setTimeout(function () {
          // display loader on page load and fade out after page is loaded
          $(".loader").fadeOut(1000);
        }, 1000);
      };
    </script>
  </body>
</html>
